* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
    width: 100%;
    height: 70px;
    background-color: #ec715f;
    
}

.page-header{
    display: flex;
    justify-content: space-between;
}

.container{
    width: 1024px;
    margin: 0 auto;
}


a{
    text-decoration: none;
    color: #fafafa;
}

.header-image{
    width: 150px;
    height: 70px;
    
}

.nav-list{
  list-style: none;
  padding: 0 30px;
  font-size: 16px;
  
   display: inline-block;
   line-height: 70px;
}

.main-visual{
    width: 100%;
    height: 650px;
    background-image: url(img/mv.png);
    background-size: cover;
  background-position: center;
    
}

.main-visual-content{
    text-align: center;
}

.main-visual-text{
   font-size: 64px;
   padding-top: 200px;
   color: #fff;
    
}

.main-visual-name{
    font-size: 20px;
    padding-top: 10px;
    color: #fff;
    
}

main{
    width: 100%;
}

.page-portfolio{
   background-color: #eceff1;
}

.container{
    width: 1024px;
    margin: 0 auto;
}

.title{
    padding-top: 90px;
    font-size: 32px;
    color: #000000;
    padding-bottom: 8px;
    text-align: center;
}

.title::after {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    margin: 8px auto 0 auto;
    background-color: #EC715F;
}

.header-text{
    padding-top: 30px;
    font-size: 16px;
    color: #000000;
    text-align: center;
}
  
.portfolio-groupe{
    width: 920px;
    margin: 0 auto;
    padding: 30px 0 90px 0;
    display: flex;
    flex-wrap: wrap;
    
}
 
 .production {
    width: 300px;
    height: 250px;
    margin: 10px 10px 0 0;
    background-size: cover;
    background-position: center;
}
 
 .box1:nth-child(1) {
  background-image: url(img/sketch.jpg);
  margin-top: 0;
 }

 .box2:nth-child(2) {
  background-image: url(img/websuku.png);
  margin-top: 0;
 }

 .box3:nth-child(3) {
  background-image: url(img/write.jpg);
  margin-right: 0;
  margin-top: 0;
 }

 .box4:nth-child(4) {
  background-image: url(img/webcamp.png);
  
 }

 .box5:nth-child(5) {
  background-image: url(img/talk.jpg);
 
  
 }

 .box6:nth-child(6) {
  background-image: url(img/webcamp-mother.png);
  margin-right: 0;
 }

.strength-groupe{
 display: flex;
 padding: 30px 0 90px 0;
 width: 980px;
 margin: 0 auto;
}

.strength-box{
    width: 320px;
    text-align: center; 
    margin-right: 10px;
    font-size: 60px;
}


.strength-title{
    font-size: 20px;
    padding: 10px 0;
}

.strength-text{
    text-align: left;
    font-size: 15px;
}

.page-profile{
   background-color: #eceff1;
}

.profile-contents{
    padding: 30px 0 90px 0;
    display: flex;
}

.icon-box{
    width: 512px;
    text-align: center
}

.profile-image{
    width: 250px;
    height: 250px;
    background-image: url(img/my-icon.jpg);
    border-radius: 50%;
}

.profile-box{
    width: 512px;
}

.profile-title{
    font-size: 20px;
    padding-bottom: 5px;
}

.profile-text{
    font-size: 16px;
}

.skill-item{
    padding-top: 20px;
}

.page-contents{
    width: 800px;
    padding: 30px 0 90px 0;
    margin: 0 auto;
    display: flex;
}

.left-contact{
    width: 50%;
}

.left-contact-contents{
    width: 130px;
    margin: 0 auto;
}
.contact-title{
    text-align: left
}

.link-text{
    text-decoration: underline;
    color: #212121;
}
